<%= link_to "new", new_comment_path %>
<table>
  <tr>
    <th>title</th>
    <th>Attachment</th>
    <th>oper</th>
  </tr>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= link_to comment.title, edit_comment_path(comment) %></td>
      <td>
        <% comment.attachments.each do |attachment| %>
          <%= link_to attachment.file.original_filename, attachment.file.url, :target => "_blank" %>
          <br/>
        <% end %>
      </td>
      <td><%= link_to "destroy", comment_path(comment), :method => :delete %></td>
    </tr>
  <% end %>
</table>